/*
*
* style.css
* @author - Jamal
* @date - 19 october 2022
*/


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
    flex: 1;
}
.cell-1 {
    flex: 1;
}
.cell-3 {
    flex: 3;
}
.title {
    text-align: right;
    font-weight: 600;
    color: #fff;
    font-size: 30px;
}
header {
    background-color: #128c7e;
    padding: 10px;
}
.logo {
    height: 37px;
    margin-top: 20px;
}
.menu-list {
    list-style-type: none;
    text-align: center;
    padding-left: 80px;
}
.menu-list li a {
    color: #fff;
    text-decoration: none;
    float: left;
    margin-right: 65px;
    font-weight: 500;
}