/*
*
* style.css
* @author - Jamal
* @date - 19 october 2022
*/


.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 275px);
    justify-content: center;
}
footer {
    background-color: #273443;
}
.footer-container {
    padding: 50px 0;
}
.footer-list {
    list-style-type: none;
}
.footer-list-header  {
    color: #fff;
    margin-bottom: 20px;
    text-decoration: underline;
}
.footer-list li a {
    color: #fff;
}
.footer-list li {
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
