/*
*
* style.css
* @author - Jamal
* @date - 19 october 2022
*/


.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 100px);
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
}
.content-container {
    background-color: #e7f0e4;
    padding: 50px 50px 150px 50px;
    margin-left: 20px;
    text-align: center;
}
.sub-container {
    background-color: #fcf2c6;
    padding: 50px 100px 150px 100px;
    margin-right: 20px;
    text-align: center;
}
.p-clr {
    color:  #636874;
}
.click-btn {
    padding-bottom: 50px;
    color: #636874;
}
